name: Backend Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - main
env:
  BACKEND_REPOSITORY: workshop-2/production/backend
  IMAGE_TAG: ${{ github.sha }}

permissions: 
  contents: read
  id-token: write

jobs:
  backend-job:
    name: Backend Job
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        token: ${{ secrets.PAT }}

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5.1.0
      with:
        aws-region: us-east-1
        role-to-assume: arn:aws:iam::194768394447:role/workshop-2-eks-github-role

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push backend image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        docker build -f ./my-app/Dockerfile -t $REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG ./my-app
        docker push $REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG

    - name: Kustomize Edit Set Image
      working-directory: ./my-app
      env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
          kustomize edit set image $REGISTRY/$BACKEND_REPOSITORY=$REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add kustomization.yaml
          git commit -m "[BOT] Updated Image to $REGISTRY/$BACKEND_REPOSITORY:$IMAGE_TAG"
          git push